<% layout("layouts/boilerplate") %> 

<div class="container text-center my-auto">
  <h1>Welcome To Jack-Of-All-Quiz</h1>
  <a href="/quiz/new">
    <button class="btn btn-primary">Begin</button>
  </a>
</div>