<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Trivia</title>
</head>

<body>
  <% for (quiz of quizzes) { %>
  <a href="/quiz/<%= quiz._id %> ">
    <h1>Question <%= quiz.serialNum %> </h1>
  </a>
  <p class="question"><%= quiz.question %></p>
  <ul>
    <% for (let ans of quiz.answers) { %>
    <li class="answer"><%= ans %></li>
    <% } %>
  </ul>
  <% } %>
  <script src="/js/index.js"></script>
</body>

</html>